/* Add your CSS to this file */
*{
    font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header{
    background-color: white;
}

header h1{
    text-align: left;
    font-size: 18px;     
}

header > .container nav a{
    color:#6b7280;
}

/*nav a{
    color:#6b7280;
}*/

header > .container nav a:hover{
    color:#5A67D8;
}

header nav > ul li{
    text-align: right;
    list-style-type: none;
    display: inline;
}

/*header nav > ul li{
    text-align: right;
    list-style-type: none;
    display: inline;
}*/

.overview-hero-image{
    background-color: #E2E8F0;
}

.overview-hero-image img{
    height: 200px;
    width: 200px;
    float: left;
}

.learn-about > .container .cards{
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.learn-about{
    border-color:#E2E8F0;
    border: 10px;
    border-radius: 5px;
    box-shadow: #E2E8F0;
}

.learn-about h1{
    font-size: 24px;
    color: #E2E8F0;
}

.learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.testing-desciption{
    float: left;
}

.testing-desciption h2{
    background-color: white;

}

.cta > .btn{
    float: right;
    color: #48BB78;
    border-radius: 5px;
}

.stories .container h2, .stories .container > .article-body a{
    color: #5A67D8;
}

.stories .container > .article-body h3{
    font-size: 18px;
}

.stories .containers > article a{
    float: left;
}

.newsletter{
    text-align: center;
    align-items: center;
    background-color: #4A5568;
    color: white;
}

.form-group{
    display: inline;
}

form button{
    background-color: #5A67D8;
}

footer{
    background-color: #5A67D8;
    color: white;
}